* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #bbc2c0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

span {
    color: black;
}

.container {
    width: 700px;
    margin: 30px auto;
    background: #f0f8ff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #d8dfe4;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
}

.step, .step1 {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    flex: 1;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    position: relative;
}



.step.active {
    color: #fff;
}

.circle, .circle1, .circle2 {
    color: black;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4f46e5;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.circle2 {
    display: inline-flex;
    justify-content: center;
    color: black;
    background-color: white;
    align-items: center;
}

.circle{
    background-color: #14b8a6;
}

.divider {
    width: 30px;
    height: 2px;
    margin: 0 10px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
    color: black;
}

p {
    margin-bottom: 20px;
}

.meal-form {
    display: flex;
    flex-direction: column;
}

.meal-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.meal-group1 {
    flex: 5;
    margin-right: 10px;
}

.meal-group2 {
    flex: 2;
    margin-right: 10px;
}


label {
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.dessert-option {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.back-button, .next-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.back-button {
    background: #fff;
    color: #333;
}

.next-button {
    background: #4f46e5;
    color: white;
}

.divider {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 200px; 
    height: 50px;
    margin: 20px;
}

.dot, .dot1 {
    width: 5px;
    height: 5px;
    background-color: #bbb; /* Color de las bolitas */
    border-radius: 50%; /* Hace que sean redondas */
}

.dot1 {
    background-color: #14b8a6;
}